extends layout

block content
    .container
        h1 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor diam sed dolor pulvinar sagittis. Nullam est lacus, mattis ullamcorper quam sed, posuere auctor tellus. Duis condimentum nunc non lacinia congue. Donec at mi ut erat imperdiet porttitor non sed libero. Curabitur aliquet enim nunc, id varius augue tincidunt id. Nullam viverra quam metus, sit amet eleifend elit convallis quis.
        ul
            li Sed eu dolor non tortor cursus venenatis.
            li Duis dapibus leo efficitur urna efficitur accumsan.
            li Maecenas sagittis lectus at facilisis ullamcorper.
        p Curabitur suscipit placerat arcu a aliquet. Vivamus vitae nunc ultrices quam imperdiet consectetur. Fusce mollis eu dui sit amet elementum. Nam aliquam ipsum dolor. Donec libero mauris, facilisis vitae aliquam a, auctor non magna. Integer enim sem, venenatis et eleifend in, efficitur quis nisl.